<div class="well">
    <% @todos.each do |todo| %>
      <div class="card border-secondary mb-3 p-3" style="max-width: 50rem;">
        <p><%= "Tarea: #{todo.description}" %> </p>
        <p><%= "Completado: #{todo.completed}" %> </p>
            <div class='container'>
                <%= link_to 'Show', todo, class:"btn btn-primary" %>
                <%= link_to 'Edit', edit_todo_path(todo), class:"btn btn-primary" %>
                <%= link_to 'Delete', todo, method: :delete,
                data: { confirm: 'Estas seguro de eliminar esta tarea?'}, class:"btn btn-danger" %>
                <% if todo.completed == true %>
                    <a class="btn btn-success"> Tarea Completada ✰ </a>
                <% else %>
                    <%= link_to "Completada", completed_todo_path(todo), class:"btn btn-outline-success" %>
                <% end %>
            </div>
     </div>
    <% end %>
</div>
<br>

<%= link_to 'Crear ToDo', todos_new_path, class:"btn btn-warning btn-lg btn-block" %>